<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seventh AI</title>
</head>
<body>
<h2>Patent Application</h2>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Patent Description:</td>
            <td><textarea rows="4" cols="50" name="patentDescription"> </textarea> </td>
        </tr>
        <tr>
            <td>
 
            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>